body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la ventana */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.compiler-container {
    max-width: 100vw;
    margin: 50px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: grid;
    gap: 30px;
}
.compiler{
    display: flex;
    gap: 2%;
}

.line-numbers {
    width: 40px; /* Ancho de los números de línea */
    padding: 10px;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
    text-align: right;
    white-space: pre-wrap; /* Permitir saltos de línea */
    overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
    overflow: hidden; /* Ocultar el desplazamiento horizontal */
    height: 200px; /* Establece la altura máxima del textarea */
    line-height: 1.5;
}

.code-input {
    width: calc(100% - 50px); /* Restar el ancho de los números de línea */
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
    tab-size: 4;
    white-space: pre-wrap;
    line-height: 1.5;
}

.token {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: auto;
    tab-size: 4;
    line-height: 1.5;
}

.output {
    width: inherit;
    height: 50px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: auto;
    line-height: 1.5;
}
.options {
    text-align: center;
}
.compile-btn, .upload-btn, .save-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: #000000 1px solid;
}

.upload-btn:hover, .compile-btn:hover, .save-btn:hover {
    background-color: #0056b3;

}

.table-container {
    width: 100%;
    height: 100%;
    max-height: 200px;
    overflow-y: auto;
    text-align: center; 
}

.error-token {
    background-color: #FFCCCC; /* Cambia el color de fondo para los tokens de error */
}
